// @import '~bootstrap/scss/bootstrap.scss';
@use "bootstrap/scss/bootstrap.scss";

table {
  
  border-collapse: collapse;
  min-height: 20%;
    max-height: 60%;
    max-width: 80%;
    padding: 3rem;
    margin-left: 5rem;
    margin-top: 3rem;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
}

display-text {
  display: inline-block;
  margin-left: 10px;
}