<!-- <p>admin-dashboard.component works!</p> -->
<div>
    <button type="button" class="btn btn-primary btn-sm">Create Department</button>
</div>
<div class="table-responsive">
  <table class="table">
        <thead>
      <tr >
        <th>DeptId</th>
        <th>DepartMentName</th>
        <th>SubDeptId</th>
        <th>SubDepartmentName</th>
        <th>DepartmentIncharge</th>
        <th>SubDepartmentIncharge</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let departmentItem of departmentArray">
        <td>{{ departmentItem.deptId}}</td>
        <td>{{departmentItem.departmentName}}</td>
        <td>{{departmentItem.subDeptId}}</td>
        <td>{{departmentItem.subdepartmentName}}</td>
        <td>{{departmentItem.departmentIncharge}}</td>
        <td>{{departmentItem.subDepartmentIncharge}}</td>
      </tr>
    </tbody>
  </table>
</div>

